export("end<-")
export("key<-")
export("qualif<-")
export("ranges<-")
export("start<-")
export("strand<-")
export(.gbHeader)
export(.gbLocus)
export(.gbReference)
export(.gbReferenceList)
export(annotation)
export(as.gbLocation)
export(dbxref)
export(downstream)
export(end)
export(flanking)
export(fuzzy)
export(gbRecord)
export(gbRecordList)
export(getAccession)
export(getComment)
export(getDBLink)
export(getDBSource)
export(getDate)
export(getDefinition)
export(getDivision)
export(getFeatures)
export(getGeneID)
export(getKeywords)
export(getLength)
export(getLocus)
export(getMoltype)
export(getOrganism)
export(getReference)
export(getSequence)
export(getSource)
export(getTaxonomy)
export(getTopology)
export(getVersion)
export(hasKey)
export(hasQualif)
export(index)
export(key)
export(listQualif)
export(listUniqueQualifs)
export(location)
export(locusTag)
export(note)
export(product)
export(proteinID)
export(qualif)
export(ranges)
export(revcomp)
export(select)
export(shift)
export(start)
export(strand)
export(summary)
export(translation)
export(upstream)
export(view)
export(width)
export(write.FeatureTable)
export(write.GenBank)
exportClasses(gbFeature)
exportClasses(gbFeatureList)
exportClasses(gbLocation)
exportClasses(gbRecord)
exportClasses(gbRecordList)
exportMethods("$")
exportMethods("[")
exportMethods("[[")
import(methods)
importFrom(BiocGenerics,"strand<-")
importFrom(BiocGenerics,annotation)
importFrom(BiocGenerics,strand)
importFrom(Biostrings,AAStringSet)
importFrom(Biostrings,BStringSet)
importFrom(Biostrings,DNAStringSet)
importFrom(Biostrings,readAAStringSet)
importFrom(Biostrings,readDNAStringSet)
importFrom(Biostrings,reverseComplement)
importFrom(Biostrings,width)
importFrom(Biostrings,writeXStringSet)
importFrom(Biostrings,xscat)
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,GRangesList)
importFrom(GenomicRanges,Seqinfo)
importFrom(GenomicRanges,seqinfo)
importFrom(GenomicRanges,seqlengths)
importFrom(IRanges,"end<-")
importFrom(IRanges,"ranges<-")
importFrom(IRanges,"start<-")
importFrom(IRanges,DataFrame)
importFrom(IRanges,IRanges)
importFrom(IRanges,IntervalTree)
importFrom(IRanges,Rle)
importFrom(IRanges,findOverlaps)
importFrom(IRanges,follow)
importFrom(IRanges,new2)
importFrom(IRanges,precede)
importFrom(IRanges,queryHits)
importFrom(IRanges,ranges)
importFrom(IRanges,setValidity2)
importFrom(IRanges,split)
importFrom(IRanges,subjectHits)
importFrom(IRanges,width)
importFrom(XVector,subseq)
importFrom(XVector,toString)
importFrom(assertthat,"on_failure<-")
importFrom(assertthat,assert_that)
importFrom(parallel,detectCores)
importFrom(parallel,mclapply)
importFrom(parallel,mcmapply)
importFrom(plyr,rbind.fill)
importFrom(stats,end)
importFrom(stats,setNames)
importFrom(stats,start)
useDynLib(biofiles)
