export(downstream)
export(flanking)
export(readGB)
export(upstream)
export(writeFeatureTable)
export(writeGB)
exportClass(gbFeature)
exportClass(gbFeatureList)
exportClass(gbLocation)
exportClass(gbRange)
exportClass(gbRecord)
exportMethods("$")
exportMethods("[")
exportMethods("[[")
importClassesFrom(intervals,Intervals_full)
importFrom(Biostrings,AAStringSet)
importFrom(Biostrings,DNAStringSet)
importFrom(Biostrings,RNAStringSet)
importFrom(IRanges,"%in%")
importFrom(IRanges,"end<-")
importFrom(IRanges,"start<-")
importFrom(IRanges,DataFrame)
importFrom(IRanges,IRanges)
importFrom(IRanges,IntervalTree)
importFrom(IRanges,Map)
importFrom(IRanges,Reduce)
importFrom(IRanges,append)
importFrom(IRanges,as.list)
importFrom(IRanges,eval)
importFrom(IRanges,findOverlaps)
importFrom(IRanges,gsub)
importFrom(IRanges,mapply)
importFrom(IRanges,nchar)
importFrom(IRanges,nrow)
importFrom(IRanges,paste)
importFrom(IRanges,queryHits)
importFrom(IRanges,rbind)
importFrom(IRanges,sapply)
importFrom(IRanges,sort)
importFrom(IRanges,split)
importFrom(IRanges,subjectHits)
importFrom(IRanges,subseq)
importFrom(IRanges,unique)
importFrom(IRanges,unlist)
importFrom(IRanges,which)
importFrom(filehash,dbDelete)
importFrom(filehash,dbFetch)
importFrom(filehash,dbInsert)
importFrom(filehash,lapply)
importFrom(methods,"@<-")
importFrom(methods,"slot<-")
importFrom(methods,as)
importFrom(methods,is)
importFrom(rmisc,"%@%")
importFrom(rmisc,"%ni%")
importFrom(rmisc,Curry)
importFrom(rmisc,compact)
importFrom(rmisc,flatten)
importFrom(rmisc,is_empty)
importFrom(rmisc,linebreak)
importFrom(rmisc,merge_dups)
importFrom(rmisc,not.na)
importFrom(rmisc,not_empty)
importFrom(rmisc,strsplitN)
importFrom(rmisc,trim)
